body{
    background-color: darkslateblue;
}

#app{
    background-color: lightblue;
    width: 90vw;
    height: 90vh;
    margin: 5vh 5vw 5vh 5vw;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
}

#timer{
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 90%;
}

#timer-controls{
    display: inline-flex;
}

.time-control{
    padding: 15%;
    background-color: darkslateblue;
    color: white;
    border-radius: 50%;
    border-style: none;
}

#break-div{
    margin-right: 5vw;
}
#session-div{
    margin-left: 5vw;
}

#timer-display{
    border: 2px solid black;
    margin-top: 5vh;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5vh;
    border-radius: 50%;
}

.display-btn{
    background-color: darkslateblue;
    border-style: none;
    color: white;
    padding: 2%;
    margin: 1vh 3vw 3vh 5vw;
    border-radius: 50%;
}
